<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <title>
        Menu
    </title>

    <link href="~/css/homestyle.css" rel="stylesheet" />
</head>
@{
    ViewData["Title"] = "Home Page";
}

<body>


    <h1 class="display-4">Welcome to LB's Coffee</h1>
    <h2></h2>
    <p>

        <img src="~/lib/coffee.jpg" alt="coffee" class="center">
    </p>

</body>

</html>

