h1 {
    text-align: center;
    color: grey;
    font-family: 'Freestyle Script';
    border: 3px solid pink;
}

form {
    text-align: center;
    color: grey;
    font-family: 'Arial';
    display: inline-block;
    border: 1px solid gray;
    background-color: pink;
    width: 25%;
    font-size: larger;
    font: 'Century Gothic';
    text-align: left;
}



ul li {
    text-align: center;
    display: inline-block;
    border: 1px solid gray;
    background-color: pink;
    width: 25%;
    font-size: larger;
    font: 'Century Gothic';
}


    ul li:hover {
        background-color: dimgrey;
        border: 0px;
    }

    ul li a {
        text-decoration: none;
        color: white;
        text-align: center;
    }
